/* Custom Properties */

:root {
  --clr-neutral-100: #FFF;
  --clr-neutral-200: #0000001a;
  --clr-neutral-300: #918E9B;
  --clr-neutral-800: #222;
  --clr-neutral-900: #000;

}

/* Reset */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  line-height: 1.1;
}

/* Typography */

.hero-title {
  font-size: clamp(2rem, 2.6094rem + -2.4375vw, 0.171875rem);
  font-weight: 600;
}

.hero-intro {
  font-size: clamp(1rem, 0.8333rem + 0.6667vw, 1.5rem);
  font-weight: 300;
  max-width: 33ch;
}

/* Layout */

.container {
  width: 90%;
  margin-inline: auto;
}

nav {
  padding: 1.5em 0;
  border-bottom: .25rem solid var(--clr-neutral-200);
  margin-bottom: 2em;
}

.hero > * {
  margin-bottom: 1em;
}

/* Components */

.logo {
  max-width: 100px;
}

.hero-img {
  width: 80vw;
  margin: 0 5% 1em;
}